.logo {
    display: inline-block;
    vertical-align: middle;
    color: #FA6980;
    margin-right: 92px;
}
.navigation{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    
}
.nav-li {
    display: inline-block;
    margin-right: 22px;
    text-transform: uppercase;
    color: #343638;
}
.nav-li a {
    color: #343638;
}
.nav-li:first-child {
    font-weight: bold;
}
/* .circled image{
    padding-top: 10px;
} */
.header-wrapper {
    background-color: lightblue;
	position: fixed;
    padding-left: 20px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.section1 {
    margin-top: 75px;
    margin-left: 140px;
}
.section-titles {
    text-transform: uppercase;
    color: #202124;
    font-weight: bold;
    font-size: 24px;
}
.small-images {
    display: inline-block;
    width: 360px;
    height: 350px;
    margin-right: 40px;
    margin-top: 40px;
}
.image-wrapper {
    position: relative;
}
.small-image-title {
    position: absolute;
    left: 40px;
    top: 28px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}
.small-image-paragraph {
    color: #A6ADB4;
    font-size: 13px;
    line-height: 23px;
    width: 280px;
    height: 38px;
    margin: 66px 40px;
}
.section2 {
    margin-left: 140px;
    width: 40%;
    height: 900px;
}
.big-images{
    margin-top: 40px;
}
.big-image-wrapper {
    position: relative;
}
.big-image-title {
    position: absolute;
    left: 580px;
    bottom: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}



.section3{
    display: inline-block;
    width: 360px;
    height:896px;

}
